div.show-image {
    position: relative;
    float: left;
    margin: 5px;
    cursor: pointer;
}

div.show-image:hover img {
    opacity: 0.5;
}

div.show-image:hover i {
    display: block;
}

div.show-image i {
    position: absolute;
    display: none;
}

div.show-image i.fa-camera {
    top: 42%;
    left: 42%;
}

/*----------------------------------------------------------------------------------- */
/*  Custom image upload button */
/*----------------------------------------------------------------------------------- */
.btn-file {
    position: relative;
    overflow: hidden;
    vertical-align: middle;
}

.btn-file > input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    font-size: 23px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate(-300px, 0) scale(4);
    direction: ltr;
}

.btn-file + .fileupload-preview {
    padding: 0 5px 0 10px;
    vertical-align: middle;
}

.fileupload .form-control {
    height: 34px;
    display: inline-block;
    box-shadow: none;
}

.fileupload .uneditable-input {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    cursor: text;
}

.fileupload .img-thumbnail {
    display: inline-block;
    margin-bottom: 10px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    border: 0;
    border-radius: 0;
    padding: 0;
}

.fileupload .img-thumbnail > img {
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
}

.fileupload .btn {
    vertical-align: middle;
    margin: 0 2px 0 -1px;
}

.fileupload-exists .fileupload-new, .fileupload-new .fileupload-exists {
    display: none;
}

.fileupload-inline .fileupload-controls {
    display: inline;
}

.fileupload-new .input-append .btn-file {
    border-radius: 0 3px 3px 0;
}

.thumbnail-borderless .img-thumbnail {
    padding: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.fileupload-new.thumbnail-borderless .im-thumbnail {
    border: 1px solid #dddddd;
}

.fileupload .fileupload-preview + .close {
    vertical-align: middle;
}

.control-group.warning .fileupload .uneditable-input {
    color: #a47e3c;
    border-color: #a47e3c;
}

.control-group.warning .fileupload .fileupload-preview {
    color: #a47e3c;
}

.control-group.warning .fileupload .img-thumbnail {
    border-color: #a47e3c;
}

.control-group.error .fileupload .uneditable-input {
    color: #b94a48;
    border-color: #b94a48;
}

.control-group.error .fileupload .fileupload-preview {
    color: #b94a48;
}

.control-group.error .fileupload .img-thumbnail {
    border-color: #b94a48;
}

.control-group.success .fileupload .uneditable-input {
    color: #468847;
    border-color: #468847;
}

.control-group.success .fileupload .fileupload-preview {
    color: #468847;
}

.control-group.success .fileupload .img-thumbnail {
    border-color: #468847;
}